<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
           {{pageTitle}}
        </title>
    </head>
    <body>
        {{> title}}
        <p>
            {{data}}
        </p>
        {{> footer}}
    </body> 
</html>